<style>
    html,
    body {
        overflow: hidden;
    }

    .page_404 {
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        font-family: 'Arvo', serif;
    }

    .page_404 img {
        max-width: 70%;
        display: block;
        margin: 0 auto;
    }

    .four_zero_four_bg h1 {
        font-size: 80px;
        text-align: center;
    }

    .four_zero_four_bg h3 {
        font-size: 80px;
    }

    .link_404 {
        color: #fff !important;
        padding: 10px 20px;
        background: #39ac31;
        margin: 20px 0;
        display: inline-block;
    }

    .contant_box_404 {
        margin-top: -50px;
        text-align: center;
    }
</style>

<section class="page_404">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="four_zero_four_bg">
                    <h1>404</h1>
                </div>

                <div class="contant_box_404">
                    <img src="https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif"
                        alt="404 image">
                    <h3 class="h2">Look like you're lost</h3>
                    <p>The page you are looking for is not available!</p>
                    <a href="#" class="link_404">Go to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
