<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    



    <div id="success">
        Successfully logged in 
        

    </div>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Success</title>

    <!-- Link to Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <style>
      /* Style for the body */
      body {
        font-family: Arial, sans-serif;
        background-color: #f2f2f2;
      }

      /* Style for the success message container */
      #success {
        width: 50%;
        margin: 50px auto;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
      }

      /* Style for the success message */
      #success h1 {
        font-size: 36px;
        margin-bottom: 20px;
        color: #28a745;
      }

      /* Style for the success message icon */
      #success i {
        font-size: 72px;
        color: #28a745;
      }
      .explore-btn {
        display: inline-block;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        background-color: green;
        color: white;
        font-size: 18px;
        cursor: pointer;
        position: fixed;
        top: 30%;
        right: 384px;
        transform: translateY(-50%);
      }
    </style>
  </head>
  <body>
    <div id="success">
      <i class="fas fa-check-circle"></i>
      <h1>Successfully logged in</h1>
    </div>
    <a href="/">
    <div class="explore-btn">Explore</div>
    </a>

    <!-- Link to Font Awesome icons -->
    <script
      src="https://kit.fontawesome.com/4c273e6e16.js"
      crossorigin="anonymous"
    ></script>

    <!-- Link to Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
