<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="/images/icons/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/css/util.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/
	  jquery/3.3.1/jquery.min.js">
	</script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/
	  popper.js/1.12.9/umd/popper.min.js">
	</script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/
	  4.0.0/js/bootstrap.min.js">
	</script>
	<!--===============================================================================================-->
</head>

<body>

	<div class="limiter">
		<div class="container-login100" style="background-image: url('');">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-65 p-b-54">
				<form id="myForm" class="login100-form validate-form" action="/signup" method="post"
					onsubmit="return validateForm()">
					<!-- Form elements -->

					<span class="login100-form-title p-b-49">
						Sign Up
					</span>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" id="username" name="name" placeholder="Type your username">

						<span class="focus-input100" data-symbol="&#xf206;"></span><br>
						<span id="username-error" style="color: red;"></span><br>
					</div>
					<div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
						<span class="label-input100">Email</span>
						<input class="input100" type="email" id="email" name="email" placeholder="Type your email">

						<span class="focus-input100" data-symbol="&#xf206;"></span>
						<span id="email-error" style="color: red;"></span><br>

					</div>
					<div class="wrap-input100 validate-input m-b-23" data-validate="Username is reauired">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" id="password" name="password"
							placeholder="Type your password">

						<span class="focus-input100" data-symbol="&#xf190;"></span>
						<span id="password-error" style="color: red;"></span><br>
					</div>

					<div class="wrap-input100 validate-input m-b-23" data-validate="Confirm password is required">
						<span class="label-input100">Confirm Password</span>
						<input class="input100" type="password" id="confirm-password" name="confirm-password"
							placeholder="Confirm your password">
						<span class="focus-input100" data-symbol="&#xf190;"></span>
						<span id="confirm-password-error" style="color: red;"></span><br>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Password is required">
						<span class="label-input100">Mobile</span>
						<input class="input100" type="text" id="Mobile" name="mobile" placeholder="Type your mobile"
							required>

						<span class="focus-input100" data-symbol="&#xf190;"></span>
						<span id="mobile-error" style="color: red;"></span><br>

					</div>

					<div class="text-right p-t-8 p-b-31">
						<a href="/login">
							Already have an account? Login
						</a>
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button type="submit" id="submitbtn" value="Submit" class="login100-form-btn">
								Sign up
							</button>
						</div>
					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/bootstrap/js/popper.js"></script>
	<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/daterangepicker/moment.min.js"></script>
	<script src="/vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="/vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="/js/main.js"></script>
	<script>
		function validateForm() {
			var username = document.forms["myForm"]["username"].value;
			var email = document.forms["myForm"]["email"].value;
			var password = document.forms["myForm"]["password"].value;
			var mobile = document.forms["myForm"]["mobile"].value;

			// Define the regular expressions for validation
			var usernameRegex = /^[a-zA-Z0-9_]+$/;
			var emailRegex = /^\w+@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$/;
			var passwordRegex = /^[a-zA-Z0-9!@#$%^&*()_+\-=[\]{};':"\\|,.<>/?]{4,}$/;
			var mobileRegex = /^\d{10}$/;

			// Validate the input fields
			if (!username.match(usernameRegex)) {
				document.getElementById("username-error").innerHTML = "Username can only contain letters, numbers and underscore.";
				return false;
			} else {
				document.getElementById("username-error").innerHTML = "";
			}
			if (!email.match(emailRegex)) {
				document.getElementById("email-error").innerHTML = "Please enter a valid email address.";
				return false;
			} else {
				document.getElementById("email-error").innerHTML = "";
			}
			if (!password.match(passwordRegex)) {
				document.getElementById("password-error").innerHTML = "Password must contain at least 4 characters including one uppercase letter, one lowercase letter, one number and one special character.";
				return false;
			} else {
				document.getElementById("password-error").innerHTML = "";
			}
			if (!mobile.match(mobileRegex)) {
				document.getElementById("mobile-error").innerHTML = "Please enter a valid mobile number.";
				return false;
			} else {
				document.getElementById("mobile-error").innerHTML = "";
			}

			// If all the input fields are valid, submit the form
			return true;
		}


		const passwordInput = document.getElementById("password");
		const confirmPasswordInput = document.getElementById("confirm-password");
		const passwordError = document.getElementById("password-error");
		const confirmPasswordError = document.getElementById("confirm-password-error");

		function validatePassword() {
			if (passwordInput.value.length < 4) {
				passwordError.innerText = "Password must be at least 4 characters long";
				return false;
			} else {
				passwordError.innerText = "";
				return true;
			}
		}

		function validateConfirmPassword() {
			if (confirmPasswordInput.value !== passwordInput.value) {
				confirmPasswordError.innerText = "Passwords do not match";
				return false;
			} else {
				confirmPasswordError.innerText = "";
				return true;
			}
		}

		function validateForm() {
			const isPasswordValid = validatePassword();
			const isConfirmPasswordValid = validateConfirmPassword();
			return isPasswordValid && isConfirmPasswordValid;
		}

		const form = document.querySelector("form");
		form.addEventListener("submit", (event) => {
			if (!validateForm()) {
				event.preventDefault();
			}
		});
	</script>




</body>

</html>