<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form id="verify-form" action="/verify" method="post">
    <h2>Enter your verification code:</h2>
    <input type="text" name="code" placeholder="eg:1234567890" autocomplete="off" >
    <button name="verifyButton" type="submit">Submit</button>
</form>

</body>
</html>




