<!-- SIDEBAR -->
<style>
    .icon {
      font-size: 24px;
      color: red;
    }
    
    /* Sidebar */
    #sidebar {
        background-color: #00000033; /* Set the desired background color */
        /* Additional styles for sidebar */
    }
    
    /* Brand with smile icon */
    #sidebar .brand {
        background-color: #00000033; /* Set the same background color as sidebar */
        /* Additional styles for brand */
    }

    /* Navbar */
    nav {
        background-color: #00000033; /* Set the desired background color */
        /* Additional styles for navbar */
    }
    </style>

    
<section id="sidebar">
    <a href="#" class="brand"><i class='bx bxs-smile icon'></i> StepUp </a>
    <ul class="side-menu">
        <li><a href="/admin/dashboard" class="active"><i class='bx bxs-dashboard icon' ></i>DASHBOARD</a></li>
        <li class="divider" data-text="main"></li>
        <li>
            <a href="/admin/admin"><i class="bx bxs-cart-add icon"></i> Products <i class='bx bx-chevron-right icon-right' ></i></a>
            <!-- <ul class="side-dropdown">
                <li><a href="#">Alert</a></li>
                <li><a href="#">Badges</a></li>
                <li><a href="#">Breadcrumbs</a></li>
                <li><a href="#">Button</a></li>
            </ul> -->
        </li>
        <li><a href="/admin/addCategory"><i class="bx bxs-category icon"></i></i> Category<i class='bx bx-chevron-right icon-right' ></i></a></li>
        <li><a href="/admin/addsubCategory"><i class="bx bxs-category icon"></i></i> SubCategory<i class='bx bx-chevron-right icon-right' ></i></a></li>
        <li><a href="/admin/Orders"><i class="bx bxs-box icon"></i></i> Orders<i class='bx bx-chevron-right icon-right' ></i></a></li>
        <li><a href="/admin/userListView"><i class='bx bx-user-circle icon' ></i> Customers<i class='bx bx-chevron-right icon-right' ></i></a></li>
        <li><a href="/admin/banner"><i class='bx bxs-image-add icon' ></i> Banners<i class='bx bx-chevron-right icon-right' ></i></a></li>
        <li><a href="/admin/sales-report"><i class="bx bx-book icon" ></i>Sales Report<i class='bx bx-chevron-right icon-right' ></i></a></li>
        <li class="divider" data-text="Discounts"></li>
        <li><a href="/admin/coupon"><i class= "bx bxs-coupon icon"></i> Coupons<i class='bx bx-chevron-right icon-right' ></i></a></li>
        <li>
            <!-- <a href="#"><i class='bx bxs-notepad icon' >Others</i> -->
            <!-- <ul class="side-dropdown">
                <li><a href="#">Basic</a></li>
                <li><a href="#">Select</a></li>
                <li><a href="#">Checkbox</a></li>
                <li><a href="#">Radio</a></li>
            </ul> -->
        </li>
    </ul>
    
</section>
<!-- SIDEBAR -->
<!-- NAVBAR -->
<section id="content">
    <!-- NAVBAR -->
    <nav>
        <i class='bx bx-menu toggle-sidebar' ></i>
        <form action="#">
            <!-- <div class="form-group">
                <input type="text" placeholder="Search...">
                <i class='bx bx-search icon' ></i>
            </div> -->
        </form>
        <!-- <a href="#" class="nav-link">
            <i class='bx bxs-bell icon' ></i>
            <span class="badge">5</span>
        </a>
        <a href="#" class="nav-link">
            <i class='bx bxs-message-square-dots icon' ></i>
            <span class="badge">8</span>
        </a> -->
        <span class="divider"></span>
        <div class="profile">
            <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8cGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" alt="">
            <ul class="profile-link">
                <% if (locals.admin) { %>
                    <li><a href="/admin/admin"><i class='bx bxs-user-circle icon' ></i> PRANAV K</a></li>
                <% }else { %>
                    <li><a href="/admin/admin"><i class='bx bxs-user-circle icon' ></i> Account</a></li>
                    <% } %>	

                    
                <li><a href="/admin/admin"><i class='bx bxs-cog' ></i> Settings</a></li>
                <li><a href="/admin/logout"><i class='bx bxs-log-out-circle' ></i> Logout</a></li>
            </ul>
        </div>
    </nav>
    <!-- NAVBAR -->